p{
    font-size: 30px;
}
.board{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    height: 90vh;
}
body{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    position: relative;
}
.marker{
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    font-size: 30px;
}
.spot{
    height: 100%;
    width: 100%;
    border: 5px solid black;
}
.one,.two,.three{
    border-top-color: white;
}
.one,.four,.seven{
    border-left-color: white;
}
.three,.six,.nine{
    border-right-color: white;
}
.seven,.eight,.nine{
    border-bottom-color: white;
}
.restart{
    position: absolute;
    top: 50vh;
    left: 30vh;
}